includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon # https://phpstan.org/blog/what-is-bleeding-edge

parameters:
    # https://phpstan.org/user-guide/output-format
    errorFormat: table
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'

    level: 8

    # https://phpstan.org/user-guide/ignoring-errors
    ignoreErrors:
        - 
            identifier: constant.notFound

    # https://phpstan.org/config-reference#stricter-analysis
    # https://phpstan.org/config-reference#analysed-files
    paths:
        - ../src

    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkBenevolentUnionTypes: true
    checkDynamicProperties: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    polluteScopeWithAlwaysIterableForeach: true
    polluteScopeWithLoopInitialAssignments: true
    rememberPossiblyImpureFunctionValues: true
    reportAlwaysTrueInLastCondition: true
    reportAnyTypeWideningInVarTag: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportStaticMethodSignatures: true
    reportWrongPhpDocTypeInVarTag: true
    # reportPossiblyNonexistentGeneralArrayOffset: true
    # checkImplicitMixed: true
