includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon # https://phpstan.org/blog/what-is-bleeding-edge

parameters:
    # https://phpstan.org/user-guide/output-format
    errorFormat: table
    editorUrl: 'vscode://file/%%file%%:%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'

    level: 8

    # https://phpstan.org/user-guide/ignoring-errors
    ignoreErrors:
        - 
            identifier: missingType.iterableValue
            paths: 
                - ../src/View/Presenter.php
                - ../src/Service/PPExporter.php
        - 
            identifier: argument.type
            paths: 
                - ../src/Service/PPExporter.php

    # https://phpstan.org/config-reference#stricter-analysis
    # https://phpstan.org/config-reference#analysed-files
    paths:
        - ../src

    checkDynamicProperties: true
    checkFunctionNameCase: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    # checkUninitializedProperties: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkInternalClassCaseSensitivity: true
    reportStaticMethodSignatures: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true

    # polluteScopeWithLoopInitialAssignments: true
    # polluteScopeWithAlwaysIterableForeach: true
    # checkAlwaysTrueInstanceof: true
    # checkAlwaysTrueStrictComparison: true
    # checkExplicitMixedMissingReturn: true
    # reportMaybesInMethodSignatures: true
    # reportMaybesInPropertyPhpDocTypes: true
    # rememberPossiblyImpureFunctionValues: true
    # checkImplicitMixed: true
    # checkBenevolentUnionTypes: true
    # reportPossiblyNonexistentGeneralArrayOffset: true
    # reportPossiblyNonexistentConstantArrayOffset: true
